.container {
  margin: 0;
  padding: 0;
  height: fit-content;
  display: grid;
  grid-template-rows: 64px 1fr 48px;
  /* border: 1px solid black; */
}

.airport-list-container {
  grid-row: 2/ -2;
  overflow-y: scroll;
  scroll-behavior: auto;
  scrollbar-width: 1px;
  scrollbar-color: #000000 #ffffff;
}

.airport-list-container::-webkit-scrollbar {
  width: 0px;
}

ul.airport-list {
  margin: 0px;
  grid-row: 2 / 6;
  /* hide bullets */
  list-style-type: none;
  padding: 0 16px;
  /* border: 1px solid black; */
}

.airport-list li {
  padding: 4px 0px 4px 0;
}

.airport-item > h2 {
  font-size: small;
  font-weight: 500;
  margin: 0;
}
.airport-item > p {
  font-size: small;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

span.view-all {
  font-size: small;
  color: #1976d2;
}

span.view-all:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container > .header {
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin: 0px;
  /* background-color: aqua; */
  padding: 8px 8px 12px 8px;
  border-bottom: 1px solid #d0d7de;
  box-shadow: 0 3px 11px -4px rgb(33 33 33/ 20%);
}

/* for pc */
@media (min-width: 768px) {
  .container {
    margin: 0;
    grid-column: span 4;
    grid-row: span 4;
    /* background-color: #1976d2; */
    /* grid-column: 1 / 4;
    grid-row-start: 1; */
    /* border: 1px solid black; */
  }
}

/* for tablet */
@media (min-width: 1024px) {
  .container {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
